.cardWrapper{
    width: 359px;
height: 377px;
flex-shrink: 0;
border-radius: 14px;
border: 1.4px solid rgba(255, 255, 255, 0.10);
background: #1D1D1D;
padding: 24px;
display: flex;
flex-direction: column;
gap: 26px;
cursor: pointer;
transition: transform 0.3s ease;
}

.cardWrapper:hover{
    background-color: var(--color-grey);
    transform: scale(1.05);;
}

.title{
    color: var(--Pure-White, #FFF);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 24px; 
padding-right: 80px;
}

.decription{
    color: var(--Pure-White, #FFF);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 162.523%; 
opacity: 0.3;
}

.btn{
    width: 121px;
height: 43px;
border-radius: 23.5px;
background-color: var(--color-yello);
border: none;
cursor: pointer;
}