.galleryContainer {
    margin: 150px 155px 150px 145px;
    height: 1228px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 65px;
    background-color: var(--color-secondary);
  }
  
  .ImageGalleryPara {
    font-size: 54px;
    font-weight: 600;
  }
  
  .imageGallery {
    display: grid;
    /* grid-template-rows: 342px 342px 342px; */
  
    grid-template-rows: repeat(3, minmax(100px, 342px));
    grid-template-columns: repeat(3, minmax(100px, 358px));
    row-gap: 30px;
    column-gap: 30px;
  }
  
  .gridItem {
    border-radius: 14px;
    overflow: hidden;
    position: relative;
  }
  
  .gridItem > img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: all 0.2s ease;
  }
  
  .gridItem:hover > img:hover {
    transform: scale(1.1);
  }
  
  .gridItem::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    pointer-events: none; /* to let cursor pointer show*/
    transition: all 0.2s ease; /* Add transition for smooth effect */
  }
  
  .gridItem:hover::after {
    opacity: 0;
  }
  
  .sqaure_container:hover::after {
      opacity: 0.9;
    }
  
  .oberlayText {
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    z-index: 150;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
  }
  .gridItem:hover .oberlayText {
    color: var(--color-secondary);
    letter-spacing: 5px;
    font-weight: 600;
  }
  
  .sqaure_container:hover .oberlayText {
      font-size: 12px;
    color: var(--color-white);
    letter-spacing: 4px;
    font-weight: 600;
  }
  
  
  
  .col_end_stretch {
    grid-column: 2/4;
  }
  
  
  .col_start_stretch {
    grid-column: 1/3;
  }