:root {
  --color-primary: #171717;
  --color-secondary: #1d1d1d;
  --color-grey: rgba(71, 71, 71, 0.5);
  --color-white: #fff;
  --color-yello: #e3b748;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-secondary);
  line-height: 1.5;
  color: var(--color-white);
  overflow-x: hidden;
}